/.idea/
/NewCocosProject/cocosstudio/
/NewCocosProject/frameworks/runtime-src/proj.android
/NewCocosProject/frameworks/runtime-src/proj.ios_mac
/NewCocosProject/frameworks/runtime-src/proj.win32
/NewCocosProject/simulator/
/NewCocosProject/.vscode/
/.vscode/
